<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', path='jquery-3.6.3.min.js') }}"></script>
</head>
<body>

<div>
    <table>
        <tr>
            <td>
                <form name="main_category" method="post">
                    <input type="submit" value="category">
                </form>
            </td>
        </tr>
    </table>
</div>

<script>

$('[name="main_category"]').click(function (e) {
    e.preventDefault();
    $.ajax({
        url: "https://sbermegamarket.ru/api/mobile/v1/catalogService/catalog/menu",
        type: "POST",
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify({"depthLevel":2,"parentId":"X12011"}),
        success: function (result) {
            console.log(result)
            return result;
        }
    });
});

</script>
</body>
</html>